
<% layout('layouts/boilerplate') -%>

<div class="alert alert-danger text-center" role="alert">
    <h4 class="alert-heading">Error!</h4>
    <p><%= error %></p>
    <hr>
    <p class="mb-0">Please try again later or contact support.</p>

</div>